Req. 1: The device will connect to Adafruit Cloud and send temp and humidity data twice a day;
Req. 2: The device will use RTC to know the exactly hour to send the data to the cloud;
Req. 3: The device will blink green LED if successful or blink red LED if unsuccessful;
Req. 4: The device will show the current temperature and humidity real time in OLED screen and turn off at night restarting on next day in the morning;
Req. 5: The device will also save the data locally in SD Card in spreadsheet format with timestamps;
Req. 6: The device will sleep if not in use;
Req. 7: The device will run a web server to check time, and status;

show ip address in screen

When your ESP starts up, it sets it up in Station mode and tries to connect to a previously saved Access Point
if this is unsuccessful (or no previous network saved) it moves the ESP into Access Point mode and spins up a DNS and WebServer (default ip 192.168.4.1)
using any wifi enabled device with a browser (computer, phone, tablet) connect to the newly created Access Point
because of the Captive Portal and the DNS server you will either get a 'Join to network' type of popup or get any domain you try to access redirected to the configuration portal
choose one of the access points scanned, enter password, click save
ESP will try to connect. If successful, it relinquishes control back to your app. If not, reconnect to AP and reconfigure.
There are options to change this behavior or manually start the configportal and webportal independantly as well as run them in non blocking mode. 